/* 字体 */
body {
  font-family: Georgia, "Latin Modern Roman", "Linux Libertine", "Liberation Serif", "Noto Serif CJK SC", "Noto Serif CJK TC", "Source Han Serif SC", "Source Han Serif CN", source-han-serif-sc, "Source Han Serif TC", "Source Han Serif TW", source-han-serif-tc, "Source Han Serif", "Songti SC", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Yanone Kaffeesatz", Georgia, "Latin Modern Roman", "Linux Libertine", "Liberation Serif", "Noto Serif CJK SC", "Noto Serif CJK TC", "Source Han Serif SC", "Source Han Serif CN", source-han-serif-sc, "Source Han Serif TC", "Source Han Serif TW", source-han-serif-tc, "Source Han Serif", "Songti SC", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
  font-weight: bold;
}

.remark-code, .remark-inline-code {
  font-family: Iosevka, "Sarasa Mono SC", "Sarasa Mono TC", Consolas, "Lucida Console", Menlo, Monaco, "Andale Mono", "Ubuntu Mono", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", monospace;
}

.caption, .footnote, tfoot {
  font-family: Georgia, "Latin Modern Roman", "Linux Libertine", "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif;
  font-size: 0.9em;
}

h1 {
  height: 79px;
  line-height: 79px;
}

/* 背景 */
.logo {
  background-image: url(../assets/avatar.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 66px;
  right: 80px;
  width: 66px;
  height: 66px;
  z-index: 0;
}

.title-slide {
  background: url("../assets/slide-cover-background.png");
  background-size: 100% 100%;
  background-color: #ffffff;
}

/* 页码 */
.title-slide .remark-slide-number,
.content .remark-slide-number,
.section .remark-slide-number,
.thanks .remark-slide-number {
  display: none;
}

/* 封面 */
.title-slide h1,
.title-slide h2,
.title-slide h3 {
  color: #000000;
  line-height: 0.6em;
}

.title-slide h1 {
  margin-top: 200px;
}

/* 目录 */
.content-page {
  margin: 100px 100px auto 100px;
}

.content-page-title {
  font-size: 40pt;
  font-weight: bold;
}

.content-page-list {
  font-size: 20pt;
  height: 40pt;
  line-height: 40pt;
}

/* 表格 */
table {
  margin: auto;
  border-top: 2px solid #111111;
  border-bottom: 2px solid #111111;
  border-spacing: 6px 6px;
  border-collapse: separate;
}

th {
  border-bottom: none;
}

thead, tfoot, tr:nth-child(even) {
  background: #eeeeee
}

th, td {
  padding: 5px;
}

/* 代码 */
.remark-code-line {
  line-break: anywhere;
}

/* 区块 */
blockquote,
.blockquote-note,
.blockquote-warning,
.blockquote-caution,
.blockquote-tip {
  margin-left: 0;
  padding-left: 1em;
}

blockquote {
  border-left: 4px solid #777777;
}

.blockquote-note {
  border-left: 4px solid #2680e3;
}

.blockquote-warning {
  border-left: 4px solid #ff7518;
}

.blockquote-caution {
  border-left: 4px solid #fe2a39;
}

.blockquote-tip {
  border-left: 4px solid #3fb620;
}

.code-good pre:before,
.code-bad pre:before {
  display: block;
  float: left;
  width: 1em;
  height: 1em;
  margin: 9px 9px;
}

.code-good pre:before {
  content: url(../assets/code-good.svg);
}

.code-bad pre:before {
  content: url(../assets/code-bad.svg);
}

/* 其他元素 */
img, video, iframe {
  max-width: 100%;
}

pre {
  white-space: pre-wrap;
}

a, a > code {
  color: #775695;
  text-decoration: none;
}

.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}

/* 垂直布局 */
.v-middle {
  vertical-align: middle;
}

/* 两栏布局 */
.left-column {
  color: #777777;
  width: 20%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type,
.left-column h3:last-child {
  color: #000000;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right ~ * {
  clear: both;
}

/* Grid 布局 */
.grid {
  display: flex;
  justify-content: space-between;
}

.grid-cell-1of2 {
  flex: 0 0 calc((100% / 2) - 1rem);
}

.grid-cell-1of3 {
  flex: 0 0 calc((100% / 3) - 1rem);
}

.grid-cell-2of3 {
  flex: 0 0 calc((100% / 3 * 2) - 1rem);
}

.grid-cell-1of4 {
  flex: 0 0 calc((100% / 4) - 1rem);
}

.grid-cell-3of4 {
  flex: 0 0 calc((100% / 4 * 3) - 1rem);
}

/* 打印样式
16:9 size: 1210px 681px;
4:3 size: 908px 681px;
*/
@page {
  size: 1210px 681px;;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}