# Hugo
blogdown
public
/resources/_gen
.hugo_build.lock

# R
.Rhistory
.Rproj.user
.RData
.Ruserdata

# VS Code
.vscode

# Python
*.pyd
*.pyc
*.pyo
.ipynb_checkpoints

# JetBrains
.idea

# System
.DS_Store
*.log
*.dump

# Slide
/slides/**/*_cache
/slides/**/*_files
/slides/**/libs
/slides/**/generated
/slides/**/*.html
!/slides/_common/**

# Others
base/fonts
*.h5
