# R
.Rhistory
.Rproj.user
.RData

# vscode
.vscode

# Python
.ipynb_checkpoints

# system
.DS_Store
*.log
*.dump

# base
base/fonts

# slide source
/*/slide/*_cache
/*/slide/*_files
/*/slide/libs
/*/slide/generated
/*/slide/*.html

# others
*.h5
