# R
.Rhistory
.Rproj.user
.RData
.Ruserdata

# Python
*.pyd
*.pyc
*.pyo
.ipynb_checkpoints

# VS Code
.vscode

# JetBrains
.idea

# System
.DS_Store
*.log
*.dump

# Slide
/slides/**/*_cache
/slides/**/*_files
/slides/**/_extensions
/slides/**/images
/slides/**/tmp
/slides/**/*.html
/slides/**/*.pdf
!/slides/extensions/**
!/slides/theme/**

# Docs
site

# Others
.cache
*.h5
cdn
