/* variables */
:root {
  --gap: 24px;
  --content-gap: 24px;
  --nav-width: 720px;
  --main-width: 720px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;
  --theme: rgb(246, 246, 246);
  --entry: rgb(255, 255, 255);
  --primary: rgb(30, 30, 30);
  --secondary: rgb(108, 108, 108);
  --tertiary: rgb(214, 214, 214);
  --content: rgb(31, 31, 31);
  --border: rgb(238, 238, 238);

  --block-border: #444444;
  --block-bg: #eeeeee;
  --code-border: #dddddd;
  --code-fg: #4f424c;
  --code-bg: #ffffff;
  --code-lang-bg: #dddddd;
  --code-lang-fg: #4f424c;
  --back-to-top-shadow: rgba(0, 0, 0, 0.25);

  --code-button-copy-default: #00000012;
  --code-button-copy-area-hover: #707070;

  --code-copy-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z"/></svg>');
  --code-copy-success-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M12 20C7.59 20 4 16.41 4 12S7.59 4 12 4 20 7.59 20 12 16.41 20 12 20M16.59 7.58L10 14.17L7.41 11.59L6 13L10 17L18 9L16.59 7.58Z"/></svg>');
  --code-copy-error-icon: url('data:image/svg+xml;charset=utf-8,<<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z"/></svg>');
}

.dark {
  --theme: rgb(29, 30, 32);
  --entry: rgb(46, 46, 51);
  --primary: rgb(218, 218, 219);
  --secondary: rgb(155, 156, 157);
  --tertiary: rgb(65, 66, 68);
  --content: rgb(196, 196, 197);
  --border: rgb(51, 51, 51);

  --block-border: #e6e6e6;
  --block-bg: #383838;
  --code-border: #dddddd;
  --code-fg: #cccccc;
  --code-bg: #383838;
  --code-lang-bg: #cccccc;
  --code-lang-fg: #383838;
  --back-to-top-shadow: rgba(0, 0, 0, 0.25);

  --code-button-copy-default: #ffffff24;
  --code-button-copy-area-hover: #cccccc;
}

/* fonts */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", "Source Han Sans SC",
    "Source Han Sans", "Noto Sans CJK SC", "Noto Sans CJK", sans-serif;
}

code {
  font-family: Iosevka, "Iosevka Nerd", "Sarasa Mono", "Sarasa Mono SC",
    "Sarasa Mono TC", Consolas, "Lucida Console", Menlo, Monaco, "Andale Mono",
    "Ubuntu Mono", "Source Han Mono SC", "Source Han Mono TC", "Source Han Mono",
    "Noto Sans Mono SC", "Noto Sans Mono TC", "Noto Sans Mono", monospace,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

blockquote,
.kai,
.slogan,
code span[class="comment"],
code span[class="c"],
mjx-utext {
  font-family: Palatino, "Palatino Linotype", "Palatino LT Std", Georgia,
    "Latin Modern Roman", "Linux Libertine", "Liberation Serif", "Kaiti SC",
    "Kaiti TC", STKaiti, "Kai", BiauKai, "AR PL UKai CN", "AR PL UKai HK",
    "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312,
    DFKai-SB, "TW\-Kai", serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
}

/* colors */
.body {
  background: var(--theme);
}

.dark.body {
  background: var(--theme);
}

.ps-root .ps-algorithm {
  border-top: 1px solid var(--block-border) !important;
  border-bottom: 1px solid var(--block-border) !important;
}

.ps-root .ps-algorithm.with-caption > .ps-line:first-child {
  border-bottom: 1px solid var(--block-border) !important;
}

.donate-button {
  color: var(--body-fg);
}

.highlight {
  background: var(--code-bg) !important;
  color: var(--code-fg) !important;
}

code:before {
  background: var(--code-lang-bg) !important;
  color: var(--code-lang-fg) !important;
}

#back-to-top {
  background: var(--tertiary) !important;
  color: var(--content) !important;
  box-shadow: 0 2px 5px 0 var(--back-to-top-shadow) !important;
  transition: transform 0.1s;
}

#back-to-top:active {
  transform: scale(0.96);
}

/* header */
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: calc(var(--nav-width) + var(--gap) * 2);
  margin-inline-start: auto;
  margin-inline-end: auto;
  line-height: var(--header-height);
}

.nav a {
  display: block;
}

.logo,
#menu {
  display: flex;
  margin: auto var(--gap);
}

.logo {
  flex-wrap: inherit;
}

.logo a {
  font-size: 24px;
  font-weight: 700;
}

.logo a img,
.logo a svg {
  display: inline;
  vertical-align: middle;
  pointer-events: none;
  transform: translate(0, -10%);
  border-radius: 6px;
  margin-inline-end: 8px;
}

button#theme-toggle {
  font-size: 26px;
  margin: auto 4px;
}

#theme-toggle:focus {
  outline: 0;
}

body.dark #moon {
  vertical-align: middle;
  display: none;
}

body:not(.dark) #sun {
  display: none;
}

#menu {
  list-style: none;
  word-break: keep-all;
  overflow-x: auto;
  white-space: nowrap;
}

#menu li + li {
  margin-inline-start: var(--gap);
}

#menu a {
  font-size: 16px;
}

#menu .active {
  font-weight: 500;
  border-bottom: 2px solid currentColor;
}

.switches {
  display: inline-flex;
  margin: auto 4px;
  flex-wrap: inherit;
}

/* index */
.buttons,
.main .index {
  display: flex;
  justify-content: center;
}

.main .index {
  align-items: center;
  min-height: calc(100dvh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
  text-align: center;
}

.index .index_inner h1 {
  padding: 12px 0;
}

.index img {
  display: inline-table;
}

.buttons {
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
}

.button {
  background: var(--tertiary);
  border-radius: var(--radius);
  margin: 8px;
  padding: 6px;
  transition: transform 0.1s;
}

.button-inner {
  padding: 0 8px;
}

.button:active {
  transform: scale(0.96);
}

/* icons */
.social-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.social-icon {
  margin: 8px;
}

.social-icon svg,
.social-icon img {
  vertical-align: middle;
  height: 24px;
}

/* footer */
.footer {
  font-size: 12px;
  color: var(--secondary);
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
  text-align: center;
  line-height: 24px;
}

.footer span {
  margin-inline-start: 1px;
  margin-inline-end: 1px;
}

.footer span:last-child {
  white-space: nowrap;
}

.footer a {
  color: inherit;
  border-bottom: 1px solid var(--secondary);
}

.footer a:hover {
  border-bottom: 1px solid var(--primary);
}

.footer a:hover {
  color: var(--primary);
}

/* main */
.main {
  position: relative;
  min-height: calc(100dvh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: var(--gap);
}

.page-header h1 {
  font-size: 40px;
}

.pagination {
  display: flex;
}

.pagination a {
  color: var(--theme);
  font-size: 13px;
  line-height: 36px;
  background: var(--primary);
  border-radius: calc(36px / 2);
  padding: 0 16px;
}

.pagination .next {
  margin-inline-start: auto;
}

/* post list */
.post-section {
  flex-direction: column;
  justify-content: center;
  margin: var(--gap) 0 calc(var(--gap) * 2) 0;
  text-align: center;
}

.post-section h1 {
  font-size: 32px;
}

.post-entry {
  position: relative;
  display: flex;
  margin-bottom: var(--gap);
  background: var(--entry);
  border-radius: var(--radius);
  transition: transform 0.1s;
  height: 180px;
}

.post-entry:active {
  transform: scale(0.96);
}

.post-entry-left {
  float: left;
}

.post-entry-right {
  padding: var(--gap);
}

.post-entry-header h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  height: 1.5em;
  overflow: hidden;
}

.post-entry-content {
  margin: 8px 0;
  color: var(--secondary);
  font-size: 0.8em;
  height: 3.2em;
  line-height: 1.6em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  word-break: break-word;
}

.post-entry-footer {
  color: var(--secondary);
  font-size: 0.8em;
  overflow: hidden;
  height: 2em;
  line-height: 2em;
}

.post-entry-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.post-entry-cover {
  font-size: 0.8em;
  color: var(--secondary);
  text-align: center;
  width: 320px;
  height: 100%;
}

.post-entry-cover img {
  border-radius: var(--radius) 0 0 var(--radius);
  pointer-events: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.post-entry-cover a {
  color: var(--secondary);
  box-shadow: 0 1px 0 var(--primary);
}

.post-entry-tag {
  padding: 4px 8px 4px 8px;
  color: var(--secondary);
  font-size: 14px;
  line-height: 34px;
  background: var(--theme);
  border-radius: var(--radius);
}

.post-entry-badge {
  margin-right: 4px;
}

.post-entry-badge img {
  display: inline-table;
  vertical-align: middle;
}

/* post single */
.page-header,
.post-header {
  margin: var(--gap) auto var(--content-gap) auto;
}

.post-title {
  margin-bottom: 10px;
  font-size: 40px;
}

.post-description {
  margin-top: 10px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  word-break: break-all;
}

.post-tags {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-tag {
  padding: 4px 8px 4px 8px;
  color: var(--secondary);
  font-size: 14px;
  line-height: 34px;
  background: var(--entry);
  border-radius: var(--radius);
}

.post-content {
  color: var(--content);
}

.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin: 24px 0 16px;
}

.post-content h1 {
  margin: 40px auto 32px;
  font-size: 40px;
}

.post-content h2 {
  margin: 32px auto 24px;
  font-size: 32px;
}

.post-content h3 {
  font-size: 24px;
}

.post-content h4 {
  font-size: 16px;
}

.post-content h5 {
  font-size: 14px;
}

.post-content h6 {
  font-size: 12px;
}

.post-content a,
.toc a:hover {
  box-shadow: 0 1px 0;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.post-content a code {
  margin: auto 0;
  border-radius: 0;
  box-shadow: 0 -1px 0 var(--primary) inset;
}

.post-content del {
  text-decoration: none;
  background: linear-gradient(to right, var(--primary) 100%, transparent 0) 0
    50%/1px 1px repeat-x;
}

.post-content dl,
.post-content ol,
.post-content p,
.post-content figure,
.post-content ul {
  margin-bottom: var(--content-gap);
}

.post-content ol,
.post-content ul {
  padding-inline-start: 20px;
}

.post-content li {
  margin-top: 5px;
}

.post-content li p {
  margin-bottom: 0;
}

.post-content dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.post-content dt {
  width: 25%;
  font-weight: 700;
}

.post-content dd {
  width: 75%;
  margin-inline-start: 0;
  padding-inline-start: 10px;
}

.post-content dd ~ dd,
.post-content dt ~ dt {
  margin-top: 10px;
}

.post-content table {
  margin-bottom: 32px;
}

.post-content table th,
.post-content
  table:not(.highlighttable, .highlight table, .gist .highlight)
  td {
  min-width: 80px;
  padding: 12px 8px;
  line-height: 1.5;
  border-bottom: 1px solid var(--border);
}

.post-content table th {
  font-size: 14px;
  text-align: start;
}

.post-content table:not(.highlighttable) td code:only-child {
  margin: auto 0;
}

.post-content li > .highlight {
  margin-inline-end: 0;
}

.post-content ul pre {
  margin-inline-start: calc(var(--gap) * -2);
}

.post-content .highlight pre {
  margin: 0;
}

.post-content .highlighttable {
  table-layout: fixed;
}

.post-content .highlighttable td:first-child {
  width: 40px;
}

.post-content .highlighttable td .linenodiv {
  padding-inline-end: 0 !important;
}

.post-content .highlighttable td .highlight,
.post-content .highlighttable td .linenodiv pre {
  margin-bottom: 0;
}

.post-content blockquote {
  margin: 20px 0;
  padding: 0 14px;
  border-inline-start: 3px solid var(--primary);
}

.post-content hr {
  margin: 30px 0;
  height: 2px;
  background: var(--tertiary);
  border: 0;
}

.post-content iframe {
  max-width: 100%;
}

.post-content img {
  border-radius: 4px;
  margin: 1rem 0;
}

.post-content img[src*="#center"] {
  margin: 1rem auto;
}

.post-content figure.align-center {
  text-align: center;
}

.post-content figure > figcaption {
  color: var(--primary);
  font-size: 16px;
  font-weight: bold;
  margin: 8px 0 16px;
}

.post-content figure > figcaption > p {
  color: var(--secondary);
  font-size: 14px;
  font-weight: normal;
}

.post-adsbygoodle {
  margin-top: var(--gap);
  margin-bottom: var(--gap);
}

.toc {
  margin: 0 2px 40px 2px;
  border: 1px solid var(--border);
  background: var(--code-bg);
  border-radius: var(--radius);
  padding: 0.4em;
}

.dark .toc {
  background: var(--entry);
}

.toc details summary {
  cursor: zoom-in;
  margin-inline-start: 20px;
}

.toc details[open] summary {
  cursor: zoom-out;
}

.toc .details {
  display: inline;
  font-weight: 500;
}

.toc .inner {
  margin: 0 20px;
  padding: 10px 20px;
}

.toc li ul {
  margin-inline-start: var(--gap);
}

.toc summary:focus {
  outline: 0;
}

.post-footer {
  margin-top: var(--gap);
}

.post-footer-nav {
  border-radius: var(--radius);
  background: var(--entry);
  border: 1px solid var(--border);
  margin: 10px auto auto auto;
  display: flex;
  line-height: 30px;
  border-radius: var(--radius);
}

.post-footer-nav a {
  padding-inline-start: 14px;
  padding-inline-end: 14px;
  border-radius: var(--radius);
}

.post-footer-nav a:hover {
  background: var(--border);
}

.post-footer-nav .title {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: small;
  color: var(--secondary);
}

.post-footer-nav .prev,
.post-footer-nav .next {
  width: 50%;
}

.post-footer-nav span:hover:not(.title) {
  box-shadow: 0 1px 0;
}

.post-footer-nav .next {
  margin-inline-start: auto;
  text-align: right;
}

/* code */
.highlight-wrapper {
  position: relative;
}

.highlight-wrapper:hover .code-button-copy,
.highlight-wrapper:focus-within .code-button-copy {
  color: var(--code-button-copy-area-hover);
}

.highlight {
  padding: 1em;
  border-radius: 0.3rem;
  font-size: 0.9em !important;
}

.chroma {
  margin: 0;
}

code {
  line-height: 1.5em;
  direction: ltr;
  text-align: left;
  text-shadow: none;
  word-spacing: normal;
  tab-size: 4;
  hyphens: none;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

code:before {
  content: attr(data-lang);
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  padding: 0 0.5em;
  text-shadow: none;
}

code[class="language-plain"]:before {
  display: none;
}

.code-button-copy {
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  color: var(--code-button-copy-default);
  cursor: pointer;
  display: block;
  height: 1.5em;
  width: 1.5em;
  transition: color 0.25s;
  border: 0;
  background: #00000000;
}

.code-button-copy:after {
  -webkit-mask-image: var(--code-copy-icon);
  mask-image: var(--code-copy-icon);
  background-color: currentcolor;
  content: "";
  display: block;
  height: 1.125em;
  width: 1.125em;
  margin: 0 auto;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.code-button-copy-success:after {
  -webkit-mask-image: var(--code-copy-success-icon);
  mask-image: var(--code-copy-success-icon);
}

.code-button-copy-error:after {
  -webkit-mask-image: var(--code-copy-error-icon);
  mask-image: var(--code-copy-error-icon);
}

/* google adsense */
.adsbygoogle {
  margin: 16px auto 16px auto !important;
  width: 100% !important;
}

/* pdf slide viewer */
.pdf-slide-viewer-container {
  width: 100%;
}

.pdf-viewer-controls-container a {
  box-shadow: none;
}

.pdf-slide-viewer {
  display: block;
}

/* images */
.post-single img {
  max-width: 100%;
}

/* 404 */
.not-found {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.not-found-text {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

/* different screen size */
@media screen and (max-width: 767px) {
  /* theme-vars */
  :root {
    --gap: 14px;
  }

  /* profile-mode */
  .profile img {
    transform: scale(0.85);
  }

  /* post-entry */
  .post-entry-left {
    display: none;
  }

  .post-entry-right {
    padding: var(--content-gap) var(--gap);
  }

  /* footer */
  .footer {
    padding: calc((var(--footer-height) - var(--gap) - 10px) / 2) var(--gap);
  }
}

@media screen and (max-width: 480px) {
  #menu {
    display: none;
  }
}
