{{ if and (and (and (not .Params.disable_prismjs) (ne .Kind "404")) (not .IsHome)) (in (string .Content) "</code>") }}
<script src="//cdn.jsdelivr.net/npm/clipboard@{{ $.Site.Params.clipboardjsVersion }}/dist/clipboard.min.js"></script>
<script>
  function createCodeCopyButton(el) {
    let button = document.createElement("button");
    button.classList.add("code-button-copy");

    let wrapper = document.createElement("p");
    wrapper.classList.add("highlight-wrapper");
    el.parentNode.insertBefore(wrapper, el);
    wrapper.appendChild(button);
    wrapper.appendChild(el);

    let code = el.querySelector(
      ":last-child > .chroma > code"
    ).textContent;
    let ClipboardJS = window.ClipboardJS || undefined;

    function registerClipboard() {
      let clip = new ClipboardJS(button, {
        text: function () {
          return code;
        },
      });

      clip.on("success", function () {
        button.classList.add("code-button-copy-success");
        resetText();
      });
      clip.on("error", function () {
        button.classList.add("code-button-copy-error");
        resetText();
      });
    }

    function resetText() {
      setTimeout(function () {
        button.classList.remove("code-button-copy-success");
        button.classList.remove("code-button-copy-error");
      }, 1200);
    }

    registerClipboard();
  }

  (function () {
    let languages = {
      apacheconf: "Apache Configuration",
      bash: "Bash",
      c: "C",
      css: "CSS",
      cypher: "Cypher",
      dos: "DOS",
      gremlin: "Gremlin",
      html: "HTML",
      javascript: "JavaScript",
      json: "JSON",
      latex: "LaTeX",
      ngql: "nGQL",
      powershell: "PowerShell",
      python: "Python",
      qml: "QML",
      r: "R",
      sh: "Shell",
      shell: "Shell",
      sparql: "SPARQL",
      sql: "SQL",
      tex: "TeX",
      text: "Text",
      txt: "Text",
      xml: "XML",
      yaml: "YAML",
    };

    document
      .querySelectorAll(".highlight")
      .forEach((el) => createCodeCopyButton(el));
    document.querySelectorAll("code[class*=language-]").forEach((el) => {
      let language = el.getAttribute("data-lang");
      language = languages[language] || language;

      el.setAttribute("data-lang", language);
    });
  })();
</script>
{{ end }}
