<script src='{{ .Site.Params.jQueryCDN }}/jquery/{{ .Site.Params.jQueryVersion }}/jquery.min.js'></script>
<script src='{{ .Site.Params.jsCookieCDN }}/js-cookie/{{ .Site.Params.jsCookieVersion }}/js.cookie.min.js'></script>

{{ partial "google_analytics.html" . }}

{{ if and (and (and (not .Params.disable_mathjax) (ne .Kind "404")) (not .IsHome)) .Content }}
{{ partial "header_mathjax.html" . }}
{{ end }}

{{ if and (and (and (not .Params.disable_prismjs) (ne .Kind "404")) (not .IsHome)) .Content }}
{{ partial "header_prismjs.html" . }}
{{ end }}

{{ if and (not .Params.disable_adsense) (ne .Kind "404") }}
{{ partial "google_adsense.html" . }}
{{ end }}

<link rel="stylesheet" type="text/css" href="{{ "/css/reset.css" | relURL }}">
<link rel="stylesheet" type="text/css" href="{{ "/css/style.css" | relURL }}">
